@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-SemiBold.otf');
	font-weight: 600;
}

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Fracktif';
	src: url('./assets/fonts/Fracktif-ExtraBold.otf');
	font-weight: 900;
}

@layer base {
	html {
		font-family: 'Fracktif', system-ui, sans-serif;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
